# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# Data files
data/raw/*
data/processed/*
data/external/*
logs/pipeline.log

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/external/.gitkeep

# Machine learning models
models/*
!models/.gitkeep

*.pkl
*.pickle
*.joblib
*.h5
*.pt
*.pth
*.egg-info/

# Experiment outputs
logs/pipeline.log
outputs/
mlruns/

# IDE files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db